CMS_SERVER_PORT=4377
CMS_ADMIN_TOKEN=change-this-admin-token
CMS_ENROLLMENT_TOKEN=change-this-enrollment-token
CMS_SERVER_URL=ws://localhost:4377/ws
CMS_DEVICE_NAME=Local Test Agent
CMS_ALLOW_SCREEN_VIEW=0
CMS_ALLOW_REMOTE_CONTROL=0
CMS_ALLOW_SHELL=0
